Solution/packages/
Solution/RumBling/App_Data/cache/
Solution/RumBling/App_Data/NuGetBackup/
Solution/RumBling/App_Data/TEMP/
Solution/RumBling/bin/
Solution/RumBling/obj/Debug/
Solution/tooorangey.RumBling/obj/Debug/
Solution/tooorangey.RumBling/bin/
Solution/tooorangey.RumBling/App_Data/NuGetBackup/
Solution/.vs/config/applicationhost.config
Solution/RumBling/App_Data/Logs/
Solution/RumBling/App_Data/Models/
Solution/RumBling/App_Data/umbraco.config
Solution/.vs/
Solution/tooorangey.RumDo/obj/
Solution/tooorangey.RumDo/bin/Debug/
Solution/RumDo/bin/
Solution/RumDo/App_Data/TEMP/
Solution/RumDo/App_Data/NuGetBackup/
Solution/RumDo/App_Data/cache/
Solution/RumDo/App_Data/Umbraco.sdf
Solution/RumDo/App_Data/Logs/
Solution/RumDo/App_Data/Models/
Solution/RumDo/App_Data/umbraco.config
