Solution/packages/
Solution/RumBling/App_Data/cache/
Solution/RumBling/App_Data/NuGetBackup/
Solution/RumBling/App_Data/TEMP/
Solution/RumBling/bin/
Solution/RumBling/obj/Debug/
Solution/tooorangey.RumBling/obj/Debug/
Solution/tooorangey.RumBling/bin/
Solution/tooorangey.RumBling/App_Data/NuGetBackup/
Solution/.vs/config/applicationhost.config
Solution/RumBling/App_Data/Logs/
Solution/RumBling/App_Data/Models/
Solution/RumBling/App_Data/umbraco.config
Solution/.vs/
Solution/tooorangey.RumDo/obj/
Solution/tooorangey.RumDo/bin/Debug/
Solution/RumDo/bin/
Solution/RumDo/App_Data/TEMP/
Solution/RumDo/App_Data/NuGetBackup/
Solution/RumDo/App_Data/cache/
Solution/RumDo/App_Data/Umbraco.sdf
Solution/RumDo/App_Data/Logs/
Solution/RumDo/App_Data/Models/
Solution/RumDo/App_Data/umbraco.config
/Solution/tooorangey.RumDo/App_Data/NuGetBackup
/Solution/RumDo/*.user
/Solution/RumDo/App_Data/8d52adb0-2ae0-4c26-bf28-182b9bcdb325
/Solution/RumDo/App_Data/47d107e6-28e0-486c-84a0-d21e984d1deb
/Solution/RumDo/App_Data/501ec0c3-3464-48af-ad2e-9564e3929b98
/Solution/RumDo/App_Data/a9266fd5-9c27-47b8-809c-7d4aba29f2f8
/Solution/RumDo/App_Data/cache
/Solution/RumDo/App_Data/ced954d1-8c0f-4abe-bdda-99e7a787d052
/Solution/RumDo/App_Data/Logs
/Solution/RumDo/App_Data/Models
/Solution/RumDo/App_Data/packages
/Solution/RumDo/App_Data/TEMP
/Solution/RumDo/App_Data/UmbracoForms
/Solution/RumDo/App_Data/8d52adb0-2ae0-4c26-bf28-182b9bcdb325.umb
/Solution/RumDo/App_Data/47d107e6-28e0-486c-84a0-d21e984d1deb.umb
/Solution/RumDo/App_Data/501ec0c3-3464-48af-ad2e-9564e3929b98.umb
/Solution/RumDo/App_Data/a9266fd5-9c27-47b8-809c-7d4aba29f2f8.umb
/Solution/RumDo/App_Data/umbraco.config
/Solution/RumDo/App_Data/Umbraco.sdf
/Solution/RumDo/obj
/Solution/tooorangey.RumDo/*.user
/Solution/RumDo/App_Plugins/tooorangey.RumDo
